body {
	background-color: black;
	color: white;
}

iframe {
	max-height: 100%;
	max-width: 50%;
	height: auto;
	width: auto/9;
	background-color:black;
}

.bottomleft{
	position: fixed;
	left: 16px;
	max-width: 100%;
	bottom: 16px;
	
}

img {
	height: auto;
	widght: auto/9;
	overflow: hidden;
}

